.mapboxgl-popup-content {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup {
    max-width: 200px;
  }